*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}



header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header .nav {
   
    display: flex;
    position: relative;
    
    
}
 header .nav li{
     list-style: none;
}
 header .nav li a {
     display: inline-block;
     color: #fcf9f9;
     font-weight: 700;
     text-decoration: none;
     margin-left: 40px;
     border-bottom: 5px solid transparent;
     transition: border-bottom ;
}
.nav li a:hover,  
.nav li a:active   {                     
    border-bottom: 2px solid #62daf0 ;
    
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .textBox h2 {
    color: rgb(252, 248, 248);
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 7;
}

.content .textBox h3 {
    color: rgb(145, 216, 248);
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: -17px;
    line-height: 1.4em;
    font-weight: 7;
}

.content .textBox p {
    color: rgb(255, 255, 255);
    font-weight: 750;
    line-height: 1.4;
    font-style:normal;
    
}
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(145, 216, 248);
    color:rgb(12, 13, 14);
    border-radius: 40px;
    font-weight: 550;
    letter-spacing: 1px;
    text-decoration: none;
    
}

img {
    
    height: auto;
    width:700px ;
    position: relative;
    align-items: center;
    margin-left: 900px;
    margin-top: -1000px;
    margin-bottom: 50px;
    margin-right: -80px;
}
/* CONTACT FORM CSS */

.contact form {
    margin-top: 0px;
    padding: 0px 30px;
}
.contact h3 {
    color: #488ace;
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact p {
    margin: 0 0px 10px;
    margin-left: 0px!important;
}
.contact label {
    display: none;
}
.contact input {
   width: 100%;
    border: none;
    border: 1px solid #dddddd78;
    padding: 10px;
    border-radius: 4px;
}
.contact textarea#message {
    width: 100%;
    height: 122px;
    border: 1px solid #dddddd78;
    border-radius: 4px;
    padding: 10px;
}
.contact input#submit {
    color: white;
    background: linear-gradient(0.25turn,#2a78ca, #71a1d4);
    float: right;
    border: none;
    border-radius: 4px;
    padding: 15px 23px;
    /* margin-right: 10px; */
    box-shadow: 0px 0px 4px 0px #00000087;
    margin-top: 15px;
}